- loan_id = params[:id]
- if loan_id.nil?
  - @loan = Loan.new
  - @loan.vehicle = Vehicle.new
  - @loan.customer = Person.new
  - @loan.gaurantor = Person.new
  - @url = loans_path(@loan)

  = render :partial => "custom/loans/loan_details_form", :locals => {:loan => @loan, :url => @url}

- else
  - @loan = Loan.where(:id => loan_id).first
  - @url = update_loan_path(@loan)

  = render :partial => "custom/loans/loan_details_form", :locals => {:loan => @loan, :url => @url}

