- payment_id = params[:id]
- if payment_id.nil?
  - @payment = Payment.new
  - @url = admin_create_loan_payment_path(:loan_id => params[:loan_id])

  = render :partial => "custom/payments/payment_details_form", :locals => {:payment => @payment, :url => @url, :loan_id => @params[:loan_id] }

- else
  - @payment = Payment.where(:id => payment_id).first
  - @url = admin_update_loan_payment_path(:loan_id => @payment.loan.id, :payment_id => payment_id)

  = render :partial => "custom/payments/payment_details_form", :locals => {:payment => @payment, :url => @url, :loan_id => @payment.loan.id }

